// Place all the styles related to the class_lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.btn-custom-success {
	background-color: #198754;
	color: #FF007F !important;
	border: none;
	padding: 6px 12px;
	border-radius: 4px;
}